.song {
  position: relative;
  z-index: 50;
  overflow: clip;
  white-space: nowrap;
  font-weight: bold;
  margin-top: 0.125em;
  font-size: 1.125em;
  overflow: hidden;
  width: 100%;
}

.song > span {
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: move;
  display: inline-block;
  position: relative;
}

@keyframes move {
  0%,
  25% {
    transform: translate(0);
    left: 0%;
  }
  75%,
  to {
    transform: translate(-100%);
    left: 100%;
  }
}
